<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">

<title>ユーザー詳細画面</title>
</head>

<body>

  <div>ユーザー情報</div>

  <div>
    <!-- ユーザー編集画面ボタン -->
    <a th:href="@{/loginSuccess}">MyPage</a>
	<!-- ユーザー編集画面ボタン -->
    <a th:href="@{/menuEdit}">編集</a>
    <!-- ユーザー退会画面ボタン -->
    <a th:href="@{/menuConfirmation}">退会</a>
  </div>

  <div>
    <table>
      <tr>
        <th>ユーザ名：</th>
        <td th:text="${username}"></td>
      </tr>
    </table>
  </div>
</body>

</html>