<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">

<title>ユーザー新規登録確認画面</title>
</head>

<body>
<form th:action="@{/signupConfigrmation}" method="post">
	<table>
	<tbody>
		<tr>
			<th>ユーザーID</th>
			<td><input type="text" name="username" maxlength="128" size="32"></td>
		</tr>

		<tr>
			<th>パスワード</th>
			<td><input type="password" name="password" maxlength="128" size="32"></td>
		</tr>

		</tbody>
	</table>
	<!-- ユーザー新規登録確認ボタン -->
    <a th:href="@{/signupDone}">登録</a>
    <a>戻る</a>
</form>
</body>

</html>